/*Color Palette
#F55D3E - Orange Soda
#F7CB15 - Jonquil
#777DA7 - Shadow Blue
#FFFFFF - White
#FFFFF3 - Ivory
#76BED0 - Dark Sky Blue

#F4FFFD - Mint Cream
*/

body {
    background-color: #F4FFFD;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

#profile-thumbnail {
    margin-top: 18px;
}

#header-text {
    margin-top: 28px;
}

.icon {
    color: #212121;
}

#linkedin-icon {
    padding-left: .5em;
}