/*Color Palette
#F55D3E - Orange Soda
#F7CB15 - Jonquil
#777DA7 - Shadow Blue
#FFFFFF - White
#FFFFF3 - Ivory
#76BED0 - Dark Sky Blue

#F4FFFD - Mint Cream
*/

body {
    font-family: 'Lato', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.jumbotron {
    background-image: url("../img/background-and-icons-v3.png");
    background-size: cover;
    min-height: 100vh;
    margin-left: -20%;
    margin-right: -20%;
}

header {
    height: 100vh;
}

#profile-thumbnail {
    position: relative;
    -webkit-box-shadow: 6px 39px 59px -8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 6px 39px 59px -8px rgba(0, 0, 0, 0.7);
    box-shadow: -6px 39px 59px -8px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 64px;
    font-weight: 700;
    text-shadow: -3px 5px 19px black;
}

h2 {
    font-size: 50px;
    font-weight: 400;
    text-shadow: -2px 4px 9px black;
}

.header-text {
    margin-top: 40px;
    color: white !important;
}

#portfolio {
    background-color: #FFF1D0;
    padding-bottom: 7%;
    min-height: 100vh;
}

.portfolio-image {
    -webkit-box-shadow: 5px 30px 59px -8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 30px 59px -8px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 30px 59px -8px rgba(0, 0, 0, 0.7);
    margin-bottom: 1.5em;
}

footer {
    height: 100vh;
}

.icon {
    color: #212121;
}

#linkedin-icon {
    padding-left: .5em;
}